* {
    box-sizing: border-box;
}

:root {
    --color-text-primary: #1c2a38;
    --color-text-secondary: #8A8F98;
    --color-text-alert: #d72641;
    --color-text-icon: #dbdade;
    --color-bg-primary: #fff;
    --color-bg-secondary: #f3f5f9;
    --color-bg-alert: #fdeaec;
    --color-theme-primary: #04AA6D;
}


html,
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    /* height: 200vh; */
}

img {
    width: 200px;
    height: auto;
    margin: 20px auto;
    display: block;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

.input-container {
    display: flex;
    height: 46px;
}

.inputField {
    flex: 7;
    height: 100%;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    padding-left: 10px;
}

.addButton {
    flex: 1;
    height: 100%;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
}

#playerContainer {
    margin-top: 25px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: darkgrey;
}

.player-name-container {
    display: flex;
    justify-content: space-between;
}

.player-name {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

.player-name:hover {
    text-decoration: line-through;
}

.close {
    /* position: absolute;
  right: 32px;
  top: 32px; */
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

#potsContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

#teamsContainer {
    margin: 20px auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
}

#teamsContainer .teamPlayer {
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px;
}

#createTeamsButton button {
    margin: 20px auto;
    display: block;
}

#predefButton {
    margin: 20px auto;
    display: block;
    font-size: 24px;
    padding: 5px 10px;
}

#teamsContainer > div {
    min-width: 30ch;
}

.topnav {
  background-color: var(--color-bg-secondary);
  overflow: hidden;
  border-bottom: var(--color-theme-primary) 3px solid;
}

.topnav a {
  float: left;
  color: var(--color-text-primary);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--color-bg-primary);
  color: black;
}

.topnav a.active {
  background-color: var(--color-theme-primary);
  color: white;
}